body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.banner {
    background-image: url('https://th.bing.com/th/id/OIP.V_wYCAkdP_khrNM6tz0gxgHaEj?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
    margin: 30px 0;
}

.paket-wisata .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.paket-wisata .card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #0c0b0b;
}
